footer {
    z-index: 998;
    width: 100%;
    color: $white;
    background-color: $highlight;

    a {
        color: $offwhite;
    }

    .logo {
        max-width: 24.5rem;
    }

    .socials {
        svg {
            font-size: 2rem;
        }
    }

    .footer-items {
        a {
            display: inline-block;
        }

        .items-header {
            font-family: $font-secondary;
            font-size: 2rem;
            text-transform: uppercase;
        }
    }
}