{% include 'pageheader.twig' %}

<div class="page-content py-md-40 py-100">    
    <div class="content-information py-30">
        
        <img class="circles circles-content-left rotate-190" src="/images/circles/circles.png">

        <div class="container">
            <div class="content">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <h2>
                            Global Goals Community
                        </h2>

                        <div class="row mt-40">
                            <div class="col-lg-10">
                                <div>
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                                </div>

                                <div class="mt-20">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                                </div>

                                <div class="mt-20">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5">
                        <div class="overflow-hidden mt-md-40">
                            <img class="full-width box-shadow border-radius" src="/images/ggc-homepage.png">
                        </div>
                    </div>
                </div>

                <div class="row align-items-center mt-60">
                    <div class="col-lg-5">
                        <div class="overflow-hidden">
                            <img class="full-width box-shadow border-radius" src="/images/ggc-profilepage.png">
                        </div>
                    </div>

                    <div class="col-lg-7">
                        <div class="row mt-md-40">
                            <div class="offset-lg-2 col-lg-10">
                                <h3 class="h2">
                                    Bouw je eigen profiel!
                                </h3>

                                <div class="mt-40">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                                </div>

                                <div class="mt-20">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                                </div>

                                <div class="mt-20">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

