<div class="row mb-100">
    <div class="col-xl-3 col-md-6 col-12 pb-lg-20">
        <a href="/add-content/article/" class="content-type full-width {% if id == 'article' %}active{% endif %} flex flex-col justify-center align-items-center">
            <i class="fas fa-book-open icon-type mb-30"></i>

            <div class="bold-text">
                Artikel
            </div>
        </a>
    </div>

    <div class="col-xl-3 col-md-6 col-12 pb-lg-20">
        <a href="/add-content/how-to/" class="content-type full-width {% if id == 'how-to' %}active{% endif %} flex flex-col justify-center align-items-center">
            <i class="fas fa-tools icon-type mb-30"></i>
            
            <div class="bold-text">
                How-to
            </div>
        </a>
    </div>

    <div class="col-xl-3 col-md-6 col-12 pb-lg-20">
        <a href="/add-content/video/" class="content-type full-width {% if id == 'video' %}active{% endif %} flex flex-col justify-center align-items-center">
            <i class="fas fa-film icon-type mb-30"></i>
            
            <div class="bold-text">
                Video
            </div>
        </a>
    </div>

    <div class="col-xl-3 col-md-6 col-12">
        <a href="/add-content/podcast/" class="content-type full-width {% if id == 'podcast' %}active{% endif %} flex flex-col justify-center align-items-center">
            <i class="fas fa-headphones icon-type mb-30"></i>
            
            <div class="bold-text">
                Podcast
            </div>
        </a>   
    </div>
</div>