<div class="page-sidebar flex background-highlight">
    <div class="container pt-100 mx-30">
        <div class="profile-sidebar">
            <ul class="menu-items text-highlight-dark ">
                <li class="menu-item">
                    <a href="/profile/" class="menu-item-link p-20 {% if p == "profile" %}active{% endif %}">
                        <i class="fas fa-user text-highlight-dark mr-lg-0 mr-10"></i>
                        <div class="menu-item-text">Profiel</div> 
                    </a>
                </li>

                <li class="menu-item">
                    <a href="/achievement/" class="menu-item-link p-20 {% if p == "achievement" %}active{% endif %}">
                        <i class="fas fa-medal text-highlight-dark mr-lg-0 mr-10"></i>
                        <div class="menu-item-text">Mijn prestaties</div>
                    </a>
                </li>
                            
                <li class="menu-item">
                    <a href="/saved-content/" class="menu-item-link p-20 {% if p == "saved-content" %}active{% endif %}">
                        <i class="fas fa-save text-highlight-dark mr-lg-0 mr-10 "></i>
                        <div class="menu-item-text">Opgeslagen content</div>
                    </a>
                </li>

                <li class="menu-item"> 
                    <a href="/my-content/" class="menu-item-link p-20 {% if p == "my-content" %}active{% endif %}">
                        <i class="fas fa-book-reader text-highlight-dark mr-lg-0 mr-10"></i>
                        <div class="menu-item-text">Mijn content</div>
                    </a>
                </li>
                            
                <li class="menu-item">
                    <a href="/add-content/" class="menu-item-link p-20 {% if p == "add-content/article" %}active{% endif %}">
                        <i class="fas fa-plus-square text-highlight-dark mr-lg-0 mr-10"></i>
                        <div class="menu-item-text">Content toevoegen</div>
                    </a>
                </li>
            </ul>
            <hr>
        </div>    
    </div>
</div>