<div class="statistics flex">
    <div class="statistic flex flex-row align-center pr-30">
        <i class="fas fa-eye"></i>
        <p class="pl-10 view_count">{{ creation.view_count }}</p>
    </div>

    <div class="statistic flex flex-row align-center pr-30">
        <i class="fas fa-heart"></i>
        <p class="pl-10 like_count">{{ creation.like_count }}</p>
    </div>

    <div class="statistic flex flex-row align-center pr-30">
        <i class="fas fa-comment"></i>
        <p class="pl-10 comment_count">{{ creation.comment_count }}</p>
    </div>

    <div class="statistic flex flex-row align-center pr-30">
        <i class="fas fa-save"></i>
        <p class="pl-10 saved_count">{{ creation.saved_count }}</p>
    </div>
</div>