<div class="usps background-white ml-auto mt-lg-40 p-md-20 p-30 display-none-xs">
    <h2 class="h3 pb-30">
        Oplossingen vinden?
    </h2>

    <div class="usp flex align-center pb-40">
        <div class="circle background-white flex justify-center align-center">
            <i class="fas fa-people-carry icon-usp fa-2x text-highlight"></i>
        </div>

        <div class="usp-information pl-30">
            <p class="bold-text">
                Open source community
            </p>

            <p>
                Iedereen kan content toevoegen!
            </p>
        </div>
    </div>

    <div class="usp flex align-center pb-40">
        <div class="circle background-white flex justify-center align-center">
            <i class="fas fa-info icon-usp fa-2x text-highlight"></i>
        </div>

        <div class="usp-information pl-30">
            <p class="bold-text">
                Eén plek met informatie
            </p>

            <p>
                Geen zoektochten meer naar informatie, alles op één website!
            </p>
        </div>
    </div>

    <div class="usp flex align-center pb-40">
        <div class="circle background-white flex justify-center align-center">
            <i class="fas fa-globe-europe icon-usp fa-2x text-highlight"></i>
        </div>

        <div class="usp-information pl-30">
            <p class="bold-text">
                Samen de wereld verbeteren
            </p>

            <p>
                Door gebruik te maken van GGC help jij mee aan een duurzamere wereld!
            </p>
        </div>
    </div>

    <a class="btn btn-primary btn-usps" href="/search/">
        Op zoek naar oplossingen!
    </a>
</div>